div.logo
{
	padding-top: 1px;
	margin-left: 25%;
	margin-right: 25%;
	border: 2px solid;
	border-top: 0px;
	border-color: lightgray;
	text-align: center;
}
div.logo img
{
	margin-top: 50px;
}
div.form
{
	margin-top: 100px;
	display: block;
}
div.form h5
{
	color: red;
}
div.register input
{
	margin-left: 5%;
}
div.teg_text
{
	text-align: right;
}
