<!DOCTYPE HTML">
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" href="../static/css/style.css" />
</head>

<body>
  <div class="page_container">
    <div class="logo_container">
      <img src="../static/images/logo.png">
    </div>
    <div class="form_container">
      <div class="form_title">
        Login
      </div>
      <div class="error_container">
        errors put here
      </div>
      <form id="login" action="" method="post">
        <div class="control_container"> 
          <input type="text" size="20" name="username" value="Username">
        </div>
        <div class="control_container"> 
          <input type="password" size="20" name="password" value="Password">
        </div>
        <div class="submit_container">
          <input type="submit" name="login" value="Login">
          <input type="submit" name="register" value="Register">
        </div>
      </form>
    </div>
  </div>

</body>
</html>