<!DOCTYPE HTML">
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" href="css/style.css" />
</head>

<body>
  <div class="logo">
    <img src="images/logo.png">
    <div class="form">
      <h2>Login</h2>
      <h5>errors put here</h5>
      <form id="login" method="post">
          <input type="text" size="20" name="username" value="Username">
          <br>
          <input type="password" size="20" name="password" value="Password">
          <br>
          <input type="submit" name="login" value="Login">
          <input type="submit" name="register" value="Register">  
      </form>
    </div>
  </div>

</body>
</html>