{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
    <div class="form_container">
      <div class="form_title">
        Login
      </div>
      <div class="error_container">
        errors put here
      </div>
      <form id="login" action="" method="post">
        <div class="control_container"> 
          <input type="text" size="20" name="username" value="Username">
        </div>
        <div class="control_container"> 
          <input type="password" size="20" name="password" value="Password">
        </div>
        <div class="submit_container">
          <input type="submit" name="login" value="Login">
          <input type="submit" name="register" value="Register">
        </div>
      </form>
    </div>
  </div>
{% endblock %}