<!DOCTYPE HTML">
<html>
<head>
  <title>Register</title>
  <link rel="stylesheet" href="css/style.css" />
</head>

<body>
	<div class="logo">
	<img src="images/logo.png">
		<div class="form">
			<h2>Register</h2>
			<h5>errors put here</h5>
			<form id="register" method="post">
				<div class="register">
					<div class="reg_text">Username*:</div>
					<input type="text" size="20" name="username">
				</div>
				<div class="register">
					<div class="reg_text">Password*:</div>
					<input type="password" size="20" name="password">
				</div>
				<div class="register">
					<div class="reg_text">Email:</div>
					<input type="text" size="20" name="email">
				</div>
				<br>
				<input type="submit" name="login" value="Login">
				<input type="submit" name="register" value="Register">  
	      </form>
		</div>
	</div>



<form action="register.php" id="register" method="post">
<table border="0">
<tbody>

<tr>
<td><label for="name">Your Name*: </label> </td>
<td><input id="name" maxlength="45" name="name" type="text" /> </td>
</tr>

<tr>
<td><label for="email">Email Address*:</label> </td>
<td><input id="email" maxlength="45" name="email" type="text" /></td>
</tr>

<tr>
<td><label for="username">User Name*:</label> </td>
<td><input id="username" maxlength="45" name="username" type="text" /> </td>
</tr>

<tr>
<td><label for="password">Password*:</label></td>
<td><input id="password" maxlength="45" name="password" type="password" /></td>
</tr>

<tr>
<td align="right"><input name="Submit" type="submit" value="Submit" /></td>
</tr>

</tbody></table>
</form>
</body>
</html>